body { 
    color: black;
    font-family: 'Cormorant Garamond', serif;
}
    
    
h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
}

h3 {
  font-size: 20px;
}

a:hover {
    color: #1FA9C4;
}

.recipe-links {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    text-align: center;
    justify-content: space-around;
    padding: 90px;
    text-decoration: none;
    color: black;
}

.links-container {
    text-align: center;
}

.recipe-imgs {
    height: auto;
    width: 300px;
    padding: 3px;
    padding-bottom: 20px;
}

.image-container {
    text-align: center;
}



.description-container, .body-contents {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    width: 70%;
    margin: auto;
    border: 1px solid red;
}

.ingredients {
    
}

.food-img {
    height: auto;
    width: 400px;
    padding-right: 50px;
}

.body-contents {
    display: flex;
    padding-top: 50px;
    line-height: 30px;
}









