.main-title {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-title, .recipe-links {
    color: black;
}

.recipe-links {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    justify-content: space-around;
    padding: 90px;
    font-size: 20px;
    text-decoration: none;
}

.links-container {
    text-align: center;
}

.recipe-imgs {
    height: auto;
    width: 300px;
    padding: 3px;
    padding-bottom: 20px;
}

.image-container {
    text-align: center;
}




